# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
